{% extends 'base.html.twig' %}

{% block body %}


  {% for message in app.flashes('succes') %}
      <div class="alert alert-success">
          {{ message }}
      </div>
  {% endfor %}

  {% for post in postsPaginated %}
    <div>
      <a href="{{path('post', {'slug': post.slug, 'id': post.id }) }}"><h1 class="mt-4"> {{ post.title }}</h1></a>
      <p class="lead">
        par
        <a href="#">{{ post.author }}</a>
      </p>
      <hr>
      <p>Poster le {{ post.publishedFormated | date('d M Y H:i')}}</p>
      <hr>
      <img class="img-fluid rounded" height="100px" width="900px" src="{{ post.picture }}" alt="image du post: {{ post.title }}">
      <hr>
      <p>
        {{ post.content | raw }}
      </p> 
      <hr>
      <p>
       <i class="fas fa-chevron-circle-down more-coms" id="more-coms-{{post.publishedFormated}}"></i>  nombre de commentaire: {{ post.comments | length }} 
      </p> 
      <hr>
    </div>

    {# {% if user %}
      <!-- Comments Form -->
      <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
          <form>
            <div class="form-group">
              <textarea id="summernote" name="editordata" class="form-control" rows="3"></textarea>
              <input id="res-summernote" type="text" value="" hidden></input>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
      <script>
        $('#summernote').summernote({
          placeholder: 'Hello stand alone ui',
          tabsize: 2,
          height: 100,
          focus: true,
          toolbar: [
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['font', ['strikethrough', 'superscript', 'subscript']],
            ['fontsize', ['fontsize']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['height', ['height']]
          ]
        });

        $('#summernote').on('summernote.change', function(we, contents, $editable) {
            $('#res-summernote').text(contents);
        });

      </script>
    {% endif %} #}

    <div id="show-more-coms-{{post.publishedFormated}}" style="visibility: hidden; height: 0;" >
      {% for comment in post.comments %}
        <!-- Single Comment -->
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" height="50px" width="50px" src="{{ comment.authorImage }}" alt="image profile de {{ comment.authorName }}">
          <div class="media-body">
            <h5 class="mt-0">{{ comment.authorName }}</h5>
            {{ comment.content | raw}}
          </div>
        </div>
      {% endfor %}
    </div>

    <br>
    <br>
  
  {% endfor %}
  
  <div class="text-center">{{ knp_pagination_render(postsPaginated) }}</div>


  <script>
    var articles = document.getElementsByClassName("more-coms");
    for (var i = 0; i < articles.length; i++){
      articles[i].addEventListener("click", function( event ) {
        var s = "show-" + event.target.id;
        var res = document.getElementById(s);
        if(res.style.cssText){
          res.style.removeProperty('height');
          res.style.removeProperty('visibility');
        }else{
          res.style.cssText = "visibility: hidden; height: 0;";
        }
      });
    }
  </script>


{% endblock %}